.App {
  font-family: circular;
  /* height: 100vh; */
}

@font-face {
  font-family: "calibri";
  src: url("./assets/Calibri\ Regular.ttf");
}

@font-face {
  font-family: "circular";
  src: url("./assets/Circular\ Book.ttf");
}
